<body id="body-pd">
    <header class="header" id="header">
        <!-- <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> </div> -->
        <!-- <div class="header_img"> <img src="https://i.imgur.com/hczKIze.jpg" alt=""> </div> -->
    </header>
    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <div> 
                <!-- <a href="#" class="nav_logo"> <i class='bx bx-layer nav_logo-icon'></i> <span
                        class="nav_logo-name">BBBootstrap</span> </a> -->
                <div class="nav_list">
                    <a routerLink="/course/faculty-dashboard"class="nav_link active"> <i class='bx bx-home-alt-2 side-car-icon'></i>
                        <span class="nav_name"></span> </a> 
                        <a routerLink="/course/course-upload" class="nav_link active"> <i class='bx bx-layer nav_logo-icon side-car-icon'></i>
                            <span class="nav_name"></span> </a> 
                     <a  routerLink="/course/course-assignment"  class="nav_link active"> <i class='bx bx-check-square nav_logo-icon side-car-icon'></i>
                        <span class="nav_name"></span> </a> 
                        <a href="#" class="nav_link"><i class='bx bx-pie-chart-alt-2 nav_logo-icon side-car-icon'></i> <span class="nav_name"></span> </a> 
                            <a href="#"
                        class="nav_link"> <i class='bx bx-line-chart nav_logo-icon side-car-icon'></i> <span
                            class="nav_name"></span> </a> 
                            <a href="#" class="nav_link"> <i class='bx bx-circle  nav_logo-icon side-car-icon'></i> <span class="nav_name"></span> </a>
                             <!-- <a href="#"
                        class="nav_link"> <i class='bx bx-folder nav_icon'></i> <span class="nav_name">Files</span> </a> -->
                    <a href="#" class="nav_link"> <i class='bx bx-cog nav_logo-icon side-car-icon' ></i> <span
                            class="nav_name"></span> </a>
                </div>
            </div>
             <a href="#" class="nav_link"> <i class='bx bx-circle  nav_logo-icon side-car-icon'></i> <span
                    class="nav_name"></span> </a>
        </nav>
    </div>
    <!--Container Main start-->
    <!-- <div class="height-100 bg-light">
        <h4>Main Components</h4>
    </div> -->
    <!--Container Main end-->