/* .my-actions { margin: 10 2em; }.right-gap {    margin-right: 30px;  } */
/* .table-scroll tbody {    position:fixed;    overflow-y: scroll;    height: 100px;}.table-scroll tr {    width: 100%;    table-layout: fixed;    display: inline-table;}.table-scroll thead > tr > th {    border: none;} */
.searchGridInfoRow {
    height: 82px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchGrid {
    background: #f9f9f9;
    border-radius: 25px;
}

.searchGridInfoRow .searchGridInfo input {
    height: 40px;
    border-radius: 10px;
}

.searchGridInfo i {
    font-size: 20px;
}

.searchGridInfo .btnSearch {
    height: 50px;
    width: 50px;
    background-color: #ee6725;
    border-radius: 50%;
    display: inline-block;
    border: none;
    color: #fff;
}