<!-- <section id="hero" class="hero d-flex align-items-left">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center">
                <h1 data-aos="fade-up">Up Your <span class="title">Skills</span><br>To <span
                        class="title">Advance</span>Your <span class="title">Career </span>Path</h1>
                <h2 data-aos="fade-up" data-aos-delay="400">Provides you with the latest online learning system and
                    material that help your knowledge grow </h2>
                <div data-aos="fade-up" data-aos-delay="600">
                    <div class="text-l text-lg-start">
                        <button class="btn-get-started">Get Started</button>
                        <button class="btn-get-free-trial">Get Free Trial</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
                <img src="assets/img/hero-img.png" class="img-fluid" alt="">
            </div>
        </div>
    </div>
    <ul>
        <li>
            <h4 class="mr-3"><img src="" alt="icon">Public Speaking</h4>
        </li>
        <li>
            <h4 class=""><img src="" alt="icon">Career-Oriented</h4>
        </li>
        <li>
            <h4 class=""><img src="" alt="icon">Creative-Thinking</h4>
        </li>
    </ul>


</section>
<section>
    <h4 class="text-center">Our Services</h4>
    <h3 class="text-center">Fostering a playful & engaging learning environment</h3>
    <div class="content-centre">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h4>User Experience</h4>
                    <p class="card-text">Lessons on Design that cover the most recent developments</p>
                    <h5>Learn More ></h5>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h4>Web Developmet</h4>
                    <p class="card-text">Lessons on Design that cover the most recent developments</p>
                    <h5>Learn More ></h5>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h4>Marketing</h4>
                    <p class="card-text">Lessons on Design that cover the most recent developments</p>
                    <h5>Learn More ></h5>
                </div>
            </div>
        </div>
    </div>
</section> -->

<div class="container-fluid">
    <div id="div1" class="row hero d-flex align-items-center">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center">
                <h1 data-aos="fade-up">Up Your <span class="title">Skills</span><br>To <span class="title">Advance
                    </span>Your <span class="title">Career </span>Path</h1>
                <h2 data-aos="fade-up" data-aos-delay="400">Provides you with the latest online learning system and
                    material that help your knowledge grow </h2>
                <div data-aos="fade-up" data-aos-delay="600">
                    <div class="text-l text-lg-start">
                        <button class="btn-get-started">Get Started</button>
                        <button class="btn-get-free-trial">Get Free Trial</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
                <img src="assets/img/hero-img.png" class="img-fluid" alt="">
            </div>
        </div>
        <ul>
            <li>
                <h4 class="mr-3"><img src="" alt="icon">Public Speaking</h4>
            </li>
            <li>
                <h4 class=""><img src="" alt="icon">Career-Oriented</h4>
            </li>
            <li>
                <h4 class=""><img src="" alt="icon">Creative-Thinking</h4>
            </li>
        </ul>
    </div>

    <div id="div2" class="row">
        <h4 class="text-center">Our Services</h4>
        <h2 class="center-text">Fostering a playful & engaging learning environment</h2>
        <div class="content-centre">
            <div id="carouselExampleCaptions" class="carousel carousel-dark slide" data-bs-ride="false">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions1" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="card-group">

                            <div class="card">
                                <div class="card-body">
                                    <h4 class="text">User Experience</h4>
                                    <p class="card-text">Lessons on Design that cover the most recent developments
                                    </p>
                                    <h5>Learn More ></h5>
                                </div>
                            </div>


                            <div class="card">
                                <div class="card-body">
                                    <h4>Web Developmet</h4>
                                    <p class="card-text">Lessons on Design that cover the most recent developments
                                    </p>
                                    <h5>Learn More ></h5>
                                </div>
                            </div>



                            <div class="card">
                                <div class="card-body">
                                    <h4>Marketing</h4>
                                    <p class="card-text">Lessons on Design that cover the most recent developments
                                    </p>
                                    <h5>Learn More ></h5>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card-group">

                            <div class="card">
                                <div class="card-body">
                                    <h4 class="text">User Experience</h4>
                                    <p class="card-text">Lessons on Design that cover the most recent developments
                                    </p>
                                    <h5>Learn More ></h5>
                                </div>
                            </div>


                            <div class="card">
                                <div class="card-body">
                                    <h4>Web Developmet</h4>
                                    <p class="card-text">Lessons on Design that cover the most recent developments
                                    </p>
                                    <h5>Learn More ></h5>
                                </div>
                            </div>



                            <div class="card">
                                <div class="card-body">
                                    <h4>Marketing</h4>
                                    <p class="card-text">Lessons on Design that cover the most recent developments
                                    </p>
                                    <h5>Learn More ></h5>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card-group">

                            <div class="card">
                                <div class="card-body">
                                    <h4 class="text">User Experience</h4>
                                    <p class="card-text">Lessons on Design that cover the most recent developments
                                    </p>
                                    <h5>Learn More ></h5>
                                </div>
                            </div>


                            <div class="card">
                                <div class="card-body">
                                    <h4>Web Developmet</h4>
                                    <p class="card-text">Lessons on Design that cover the most recent developments
                                    </p>
                                    <h5>Learn More ></h5>
                                </div>
                            </div>



                            <div class="card">
                                <div class="card-body">
                                    <h4>Marketing</h4>
                                    <p class="card-text">Lessons on Design that cover the most recent developments
                                    </p>
                                    <h5>Learn More ></h5>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

        </div>
    </div>

    <div id="div3" class="row">

        <h5 class="">Explore Programs</h5>
        <h3>Our Most Popular Class</h3>

        <div class="container">
            <div class="row">
                <div class="text-center">
                    <div id="carouselExampleCaptions1" class="carousel carousel-dark slide" data-bs-ride="false">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleCaptions1" data-bs-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions1" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions1" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="card-group">
                                    <div class="card-1">
                                        <img src="assets/img/Course.png" width="60" height="100" class="card-img-top"
                                            alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">This is a wider card with supporting text below as a
                                                natural
                                                lead-in to additional content. This content is a little bit longer.</p>
                                            <p class="card-text"><small class="text-muted">Last updated 3 mins
                                                    ago</small></p>
                                        </div>
                                    </div>
                                    <div class="card-1">
                                        <img src="assets/img/Course.png" width="60" height="100" class="card-img-top"
                                            alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">This card has supporting text below as a natural
                                                lead-in to
                                                additional content.</p>
                                            <p class="card-text"><small class="text-muted">Last updated 3 mins
                                                    ago</small></p>
                                        </div>
                                    </div>
                                    <div class="card-1">
                                        <img src="assets/img/Course.png" width="60" height="100" class="card-img-top"
                                            alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">This is a wider card with supporting text below as a
                                                natural
                                                lead-in to additional content. This card has even longer content than
                                                the first to
                                                show that equal height action.</p>
                                            <p class="card-text"><small class="text-muted">Last updated 3 mins
                                                    ago</small></p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="carousel-item">
                                <div class="card-group">
                                    <div class="card-1">
                                        <img src="assets/img/Course.png" width="60" height="100" class="card-img-top"
                                            alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">This is a wider card with supporting text below as a
                                                natural
                                                lead-in to additional content. This content is a little bit longer.</p>
                                            <p class="card-text"><small class="text-muted">Last updated 3 mins
                                                    ago</small></p>
                                        </div>
                                    </div>
                                    <div class="card-1">
                                        <img src="assets/img/Course.png" width="160" height="100" class="card-img-top"
                                            alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">This card has supporting text below as a natural
                                                lead-in to
                                                additional content.</p>
                                            <p class="card-text"><small class="text-muted">Last updated 3 mins
                                                    ago</small></p>
                                        </div>
                                    </div>
                                    <div class="card-1">
                                        <img src="assets/img/Course.png" width="60" height="100" class="card-img-top"
                                            alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">This is a wider card with supporting text below as a
                                                natural
                                                lead-in to additional content. This card has even longer content than
                                                the first to
                                                show that equal height action.</p>
                                            <p class="card-text"><small class="text-muted">Last updated 3 mins
                                                    ago</small></p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="carousel-item">


                                <div class="card-group">
                                    <div class="card-1">
                                        <img src="assets/img/Course.png" width="60" height="100" class="card-img-top"
                                            alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">This is a wider card with supporting text below as a
                                                natural
                                                lead-in to additional content. This content is a little bit longer.</p>
                                            <p class="card-text"><small class="text-muted">Last updated 3 mins
                                                    ago</small></p>
                                        </div>
                                    </div>
                                    <div class="card-1">
                                        <img src="assets/img/Course.png" width="60" height="100" class="card-img-top"
                                            alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">This card has supporting text below as a natural
                                                lead-in to
                                                additional content.</p>
                                            <p class="card-text"><small class="text-muted">Last updated 3 mins
                                                    ago</small></p>
                                        </div>
                                    </div>
                                    <div class="card-1">
                                        <img src="assets/img/Course.png" width="60" height="100" class="card-img-top"
                                            alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">This is a wider card with supporting text below as a
                                                natural
                                                lead-in to additional content. This card has even longer content than
                                                the first to
                                                show that equal height action.</p>
                                            <p class="card-text"><small class="text-muted">Last updated 3 mins
                                                    ago</small></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions1"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions1"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>


                </div>

            </div>
        </div>
        <div class="text-center">
            <button>Exlpore All Programs</button>
        </div>

    </div>
    <div id="div4" class="row">
        <h4 class="text-center">Welcome To Trainer</h4>
        <h2 class="text-center">Meet The Trainers</h2>
        <h5 class="text-center">We offer the knowledge and abilities</h5>
        <div class="row card-group-2">
            <div class="card-2">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.
                    </p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
            <div class="card-2">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.
                    </p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
            <div class="card-2">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.
                    </p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>

            <div class="card-2">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.
                    </p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>


    </div>

    <div id="div5" class="row">
        <!-- <h4 class="text-center">LMS-Circle</h4>
        <h1 class="text-center">Courses were Fantastic! It is  Master platform  for those 
            <br>looking to  start a new career or need a refresher.</h1>
        <img src="assets/img/Course.png" class="oval-image"alt="image">
        <h4 class="text-center">Jacob Jones</h4>
        <h5 class="text-center">Sample,Sample</h5> -->

        <div class="bd-example">
            <div id="carouselExampleCaptions2" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleCaptions2" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleCaptions2" data-slide-to="1"></li>
                    <li data-target="#carouselExampleCaptions2" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active" style="background-color: f0eef5;height:300px ;">
                        <!-- <img src="assets/img/Course.png" class="d-block w-50" alt="..."> -->
                        <h4 class="text-center">LMS-Circle</h4>
                        <h1 class="text-center">Courses were Fantastic! It is Master platform for those
                            <br>looking to start a new career or need a refresher.
                        </h1>
                        <img src="assets/img/Course.png" class="oval-image" alt="image">
                        <div class="carousel-caption d-none d-md-block">
                            <h5 style="color: 000000">Jacob Jones</h5>
                            <p style="color: 000000">Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                        </div>
                    </div>
                    <div class="carousel-item" style="background-color: f0eef5;height:300px ;">
                        
                        <h4 class="text-center">LMS-Circle</h4>
                        <h1 class="text-center">Courses were Fantastic! It is Master platform for those
                            <br>looking to start a new career or need a refresher.
                        </h1>
                        <img src="assets/img/Course.png" class="oval-image" alt="image">
                        <div class="carousel-caption d-none d-md-block">
                            <h5 style="color: 000000">Second slide label</h5>
                            <p style="color: 000000">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                        
                    </div>
                    <div class="carousel-item">
                        <img src="..." class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Third slide label</h5>
                            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleCaptions2" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleCaptions2" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>






    <div id="div6" class="row">
        <h3>Our Recent Blogs</h3>
        <div class="row">
            <img src="assets/img/Course.png" class="img-fluid rounded-start blog-image col-md-4" alt="...">
            <div class="col-md-4 mt-5">
                <h5>August 14, 2023</h5>
                <h4>Three Pillars Of User Delight</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing <br> elit. Vestibulum porttitor porttitor lorem at
                    pharetra. <br>
                    Proin imperdiet feugiat ex, id condimentum nulla <br>facilisis eu. Duis at efficitur nunc. Ut tellus
                    est,
                    hendrerit <br> in nibh eu, pharetra suscipit tellus. Suspendisse sed</p>
                    <div class="row">
                         <button class="blog-button-1">Research</button>
                         <button class="blog-button-2">UI UX</button></div>
               
            </div>
            <div class="col-md-4 mt-5">
                <img src="assets/img/Agile.png" class="img-fluid rounded-start blog-image-1 col-md-4" alt="...">
                <div class="row"><h5>August 14, 2023</h5></div>
                
            </div>
        </div>
        <div class="row">
            <img src="assets/img/Course.png" class="img-fluid rounded-start blog-image col-md-4" alt="...">
            <div class="col-md-4 mt-5">
                <h5>August 14, 2023</h5>
                <h4>Three Pillars Of User Delight</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing <br> elit. Vestibulum porttitor porttitor lorem at
                    pharetra. <br>
                    Proin imperdiet feugiat ex, id condimentum nulla <br>facilisis eu. Duis at efficitur nunc. Ut tellus
                    est,
                    hendrerit <br> in nibh eu, pharetra suscipit tellus. Suspendisse sed</p>
                    <div class="row">
                        <button class="blog-button-1">Research</button>
                        <button class="blog-button-2">UI UX</button></div>
            </div>
        </div>


    </div>
    <div class="container-fluid" id="div7">

        <div class="d-flex flex-column h-100">
            <footer class="w-100 py-4 flex-shrink-0">
                <div class="container py-4">
                    <div class="row gy-4 gx-5">
                        <div class="col-lg-4 col-md-6">
                            <h5 class="h1 text-white">LMS-Circle</h5>
                            <p class="small text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                eiusmod tempor incididunt.</p>
                            <!-- <p class="small text-muted mb-0 mt-4">&copy; Copyrights. All rights reserved. <a class="text-primary" href="#">Bootstrapious.com</a></p> -->
                        </div>
                        <div class="col-lg-2 col-md-6">
                            <h5 class="text-white mb-3">Product</h5>
                            <ul class="list-unstyled">
                                <li><a href="#">Home</a></li>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Get started</a></li>
                                <li><a href="#">FAQ</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-2 col-md-6">
                            <h5 class="text-white mb-3">Company</h5>
                            <ul class="list-unstyled">
                                <li><a href="#">Home</a></li>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Get started</a></li>
                                <li><a href="#">FAQ</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-2 col-md-6">
                            <h5 class="text-white mb-3">Social</h5>
                            <ul class="list-unstyled link-style">
                                <li><a href="#">Home</a></li>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Get started</a></li>
                                <li><a href="#">FAQ</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-2 col-md-6">
                            <h5 class="text-white mb-3">Legal</h5>
                            <ul class="text-white list-unstyled">
                                <li><a href="#">Home</a></li>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Get started</a></li>
                                <li><a href="#">FAQ</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="container py-4">
                    <div class="row gy-4 ">
                        <div class="col-lg-4 col-md-6">

                            <p class="small text-muted mb-0 mt-4">&copy; Copyrights. All rights reserved.</p>
                        </div>
                    </div>
                </div>


            </footer>
        </div>
    </div>
</div>