<app-side-bar></app-side-bar>
<div class="row mt-3">
    <div class="assign-course-div1">
        <h1 class="mt-5 ml-5">Assign Course </h1>
    </div>
</div>

<div id="div-1" class=" mt-5">
    <div class="row" style="margin-left: -20px;">
        <form [formGroup]="formSearchGrid">
            <div class="col-md-2">
                <input class="input-field form-control" style="width: 150px;font-size:13px" type="text"
                    formControlName="EMPLOYEE_NAME" placeholder="Enter Employee Name">
            </div>
            <div class="col-md-2">
                <input class="input-field form-control ml-5" style="width: 140px; margin-left:10px;font-size:13px"
                    type="text" formControlName="COURSE_NAME" placeholder="Enter Course Name">
            </div>

            <div class="col-md-2">
                <input class="input-field form-control ml-5" style="width: 130px;margin-left:-10px;font-size:13px"
                    type="date" formControlName="START_TIME" placeholder="Start Date">
            </div>
            <div class="col-md-2">
                <input class="input-field form-control ml-5" style="width: 130px;margin-left:-10px;font-size:13px"
                    type="date" formControlName="END_TIME" placeholder="End Date">
            </div>


            <div class="col-md-2">
                <ng-select class="search-input-dropdown" [searchable]="true" [clearable]="true"
                    style="width: 130px;font-size:13px;margin-left:-30px" formControlName="STATUS" placeholder="Status">
                    <!-- <ng-option class="dropdown-item" [disabled]="true" value="">--Select Status--
                    </ng-option> -->
                    <ng-option value="Active">In Progress</ng-option>
                    <ng-option value="Inactive">Completed</ng-option>

                </ng-select>
            </div>


            <div class="col-md-2 mt-5" style="margin-right:5px;margin-left:-60px">

                <button class="btn-div text-white"  (click)="getSearchAndGridData('buttonclick')">Search</button>

            </div>
            <div class="col-md-1 mt-5" style="margin-right:20px;margin-left:-90px">
                <button class="btn-div text-white" (click)="clearSearch()">Clear</button>
            </div>
        </form>
    </div>

</div>
<div class="row">
    <div class="col-md-10 offset-1 ">
        <button class="btn-new-course pull-right" data-bs-toggle='offcanvas' data-bs-target='#assigncourse' (click)="closeCanvas()"
            aria-controls='offcanvasExample'><img src="assets/img/video.png" class="camera" alt="">Assign New
            Course</button>


    </div>
</div>
<div class="table-1">
    <table datatable [dtOptions]="dtoptions" [dtTrigger]="dtTrigger" class="table bg-head table-hover">
        <thead class="text-center">
            <tr>
                <th>Employee Name</th>
                <th>Course Name</th>
                <th>Attempt</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Status</th>
                <th style="width: 120px;">Action</th>
            </tr>
        </thead>
        <tbody class="text-center " style="font-size: small;">

            <tr *ngFor="let item of data">
                <td>{{item?.EMPLOYEE_NAME}}</td>
                <td>{{item?.COURSE_NAME}}</td>
                <td>-</td>
                <td>{{item?.START_TIME |date:'dd-MM-yyyy'}}</td>
                <td>{{item?.END_TIME |date:'dd-MM-yyyy'}}</td>
                <td>-</td>

                <td>
                    <div><a data-bs-toggle="modal" (click)="deleteRecord(item?.COURSE_EMPLOYEE_ID)" data-bs-target=""
                            aria-controls='exampleModal'>
                            <i class='bx bx-trash mr-2  text-danger action-icon-1 '></i></a>
                        <a data-bs-toggle='offcanvas' (click)="editCourseAssignment(item?.COURSE_EMPLOYEE_ID)" data-bs-target='#assigncourse'
                            aria-controls='offcanvasExample'>
                            <i class='bx bxs-edit mr-2 action-icon-1'></i></a>

                        <!-- <a><i class='bx bx-video-plus mr-2 action-icon-1'></i></a> -->

                        <a data-bs-toggle='offcanvas' (click)="editCourseAssignment(item?.COURSE_EMPLOYEE_ID)"
                            data-bs-target="#assigncoursedetails" aria-controls='offcanvasExample'>
                            <i class='bx bx-list-ul bx-flip-vertical mr-2 action-icon-1'></i></a>
                    </div>

                </td>
            </tr>

        </tbody>

    </table>
    <!-- <div  class="d-flex justify-content-center">
        <div class="spinner-border loader" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div> -->
</div>

<div class="offcanvas offcanvas-end offcanvas-border" tabindex="-1" id="assigncourse"
    aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title add-course-title" id="offcanvasExampleLabel">Assign New Course</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body add-course">

        <form [formGroup]="formAssignCourse">
            <div class="form-row ml-3 mt-3 mb-3">
                <div class="form-group form-check col-md-6 mt-2">
                    <label for="" class="form-label label-1">Course Name <span class="text-danger">*</span></label>
                    <ng-select class="input-dropdown" [searchable]="true" [clearable]="true"
                        [ngClass]="{ 'is-invalid': assignCourse && a['COURSE_NAME'].errors }" 
                        formControlName="COURSE_NAME" placeholder="Select Course">
                        <!-- <ng-option class="dropdown-item" [disabled]="true" value="">--Select Employee--
                        </ng-option> -->
                        <ng-option *ngFor="let c of courseList ; let i=index" [value]="c.COURSE_ID" >{{c.COURSE_NAME}}</ng-option>

                    </ng-select>

                    <div *ngIf="assignCourse && a['EMPLOYEE_NAME'].errors" class="invalid-feedback">
                        <div class="form-validation-msg" *ngIf="a['EMPLOYEE_NAME'].errors?.['required']"> Please
                            select
                            employee</div>
                    </div>
                </div>

                <div class="form-group col-md-6  mt-2">
                    <label for="" class="form-label label-1">Employee Name <span class="text-danger">*</span></label>
                    <ng-select class="input-dropdown" [searchable]="true" [clearable]="true" (click)="changeEmployee()"
                        [ngClass]="{ 'is-invalid': assignCourse && a['EMPLOYEE_NAME'].errors }" 
                        formControlName="EMPLOYEE_NAME" placeholder="Select Employee">
                        <!-- <ng-option class="dropdown-item" [disabled]="true" value="">--Select Employee--
                        </ng-option> -->
                        <ng-option *ngFor="let e of employeeList ; let j=index" [value]="e.EMPLOYEE_ID">{{e.EMPLOYEE_NAME}}</ng-option>

                    </ng-select>

                    <div *ngIf="assignCourse && a['EMPLOYEE_NAME'].errors" class="invalid-feedback">
                        <div class="form-validation-msg" *ngIf="a['EMPLOYEE_NAME'].errors?.['required']"> Please
                            select
                            employee</div>
                    </div>
                </div>
            </div>

            <div class="row ml-3 mt-2 assign-course-div2">
                <h4>Company Details</h4>
            </div>
            <div class="form-row ml-3 mt-3 mb-3">
                <div class="form-group col-md-6 mt-2">
                    <label for="COMPANY_NAME" class="label-1">Company Name <span class="text-danger">*</span></label>
                    <input type="text" class="form-control input-1" id="COMPANY_NAME" formControlName="COMPANY_NAME"
                        [ngClass]="{ 'is-invalid': assignCourse && a['COMPANY_NAME'].errors }" readonly
                        placeholder="Company Name">
                    <div *ngIf="assignCourse && a['COMPANY_NAME'].errors" class="invalid-feedback">
                        <div class="form-validation-msg" *ngIf="a['COMPANY_NAME'].errors?.['required']"> Please Enter
                            Company Name</div>
                    </div>
                </div>
                <div class="form-group col-md-6  mt-2">
                    <label for="LOCATION" class="label-1">Branch <span class="text-danger">*</span></label>
                    <input type="text" class="form-control input-1" id="LOCATION" formControlName="LOCATION" readonly
                        [ngClass]="{ 'is-invalid': assignCourse && a['LOCATION'].errors }" placeholder="Branch">
                    <div *ngIf="assignCourse && a['LOCATION'].errors" class="invalid-feedback">
                        <div class="form-validation-msg" *ngIf="a['LOCATION'].errors?.['required']"> Please Enter
                            Branch</div>
                    </div>
                </div>
            </div>

            <div class="row ml-3 mt-2 assign-course-div2">
                <h4>Duration of Course</h4>
            </div>
            <div class="form-row ml-3 mt-3 mb-3">
                <div class="form-group col-md-6 mt-3">
                    <label for="START_TIME" class="label-1">Start Date <span class="text-danger">*</span></label>
                    <input type="date" class="form-control input-1" id="START_TIME"
                        [ngClass]="{ 'is-invalid': assignCourse && a['START_TIME'].errors }"
                        formControlName="START_TIME" placeholder="Instructor"  (change)=" checkDate()">
                    <div *ngIf="assignCourse && a['START_TIME'].errors" class="invalid-feedback">
                        <div class="form-validation-msg" *ngIf="a['START_TIME'].errors?.['required']"> Please Select
                            Start Date</div>
                            <!-- <div class="form-validation-msg" *ngIf="a['START_TIME'].errors?.['invalidstartdate']"> 
                                Start Date Should be less than end date</div> -->
                    </div>
                    <div *ngIf="assignCourse && a['START_TIME'].errors" class="invalid-feedback">
                            <div class="form-validation-msg" *ngIf="a['START_TIME'].errors?.['invalidstartdate']"> 
                                Start Date Should be less than end date</div>
                    </div>
                </div>
                <div class="form-group col-md-6  mt-3">
                    <label for="END_TIME" class="label-1">End Date <span class="text-danger">*</span></label>
                    <input type="date" class="form-control input-1" id="END_DATE"
                        [ngClass]="{ 'is-invalid': assignCourse && a['END_TIME'].errors }" formControlName="END_TIME"
                        placeholder="Instructor" (change)=" checkDate()">
                    <div *ngIf="assignCourse && a['END_TIME'].errors" class="invalid-feedback">
                        <div class="form-validation-msg" *ngIf="a['END_TIME'].errors?.['required']"> Please Select End
                            Date</div>
                    </div>
                    <div *ngIf="assignCourse && a['END_TIME'].errors" class="invalid-feedback">
                        <div class="form-validation-msg" *ngIf="a['END_TIME'].errors?.['invalidstartdate']"> End Date should be more than start date</div>
                    </div>
                </div>
            </div>




        </form>
        <div class="row pull-right">

            <button hidden id="save" data-bs-toggle='offcanvas' aria-controls='offcanvasExample'>Save</button>
            <button class="btn-p  ml-2" (click)="save()">
                Save</button>



        </div>
    </div>
</div>
<div class="offcanvas offcanvas-end offcanvas-border" tabindex="-1" id="assigncoursedetails"
    aria-labelledby="offcanvasExampleLabel">

      <div class=" row offcanvas-header">
        <hr style="border-bottom: 10px solid  rgb(240, 79, 4);">
        <h5 class="offcanvas-title add-module-title col-md-11 ml-3 mt-2" id="offcanvasExampleLabel">Assigned Course Details</h5>

            <button type="button" class="btn-close text-reset col-md-2 mt-2" data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
         
    </div>
    <hr>
      <div class="offcanvas-body" style="margin-top:-50px;">
        <div class="form-row ml-4 mt-4">
            <div class="form-group form-check col-md-6 mt-3">
                <label class="label-2 text-dark">Course Name</label>
                <div class="label-3">{{editData1?.COURSE_NAME}}</div>


            </div>
            <div class="form-group col-md-6  mt-3">
                <label class="label-2 text-dark">Employee Name</label>
                <div class="label-3">{{editData1?.EMPLOYEE_NAME}}</div>

            </div>
        </div>
            <div class="row ml-3 mt-2 assign-course-div2">
                <h4>Company Details</h4>
            </div>
            <div class="form-group col-md-6 mt-3">
                <label class="label-2 text-dark">Company Name</label>
                <div class="label-3">{{editData1?.COMPANY_NAME}}</div>

            </div>
            <div class="form-group col-md-6  mt-3">
                <label class="label-2 text-dark">Branch</label>
                <div class="label-3">{{editData1?.LOCATION}}</div>

            </div>
            <div class="row ml-3 mt-2 assign-course-div2">
                <h4>Duration of Course</h4>
            </div>
            <div class="form-group col-md-6 mt-3">
                <label class="label-2 text-dark">Start Date </label>
                <div class="label-3">{{editData1?.START_TIME |date:'dd-MM-yyyy'}}</div>

            </div>
            <div class="form-group col-md-6  mt-3">
                <label class="label-2 text-dark">End Date</label>
                <div class="label-3">{{editData1?.END_TIME|date:'dd-MM-yyyy'}}</div>

            </div>
        
        <div class="row">
            <button class="col-md-10 quiz-btn-1" data-bs-toggle='offcanvas'
                aria-controls='offcanvasExample'>Back</button>

        </div>
         
    </div>
</div>